*{margin:0px;padding:0px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{font-family: "IBM Plex Serif", serif;font-size:16px;font-weight:400;color: #151D26;-webkit-text-size-adjust:none;background-color: #fff;}
a{text-decoration:none;color:#151D26;}
img{height:inherit;max-width:100%;}
.showDesktopOnly{display:block;}
.showMobileOnly{display:none;}
.container{width:100%;max-width:1320px;margin:0 auto;padding:0 15px}
.adBody{text-align:center;clear:both;margin-bottom:20px;position:relative;height:280px;padding-top:2px;z-index:0;background:#fff;}
.adBody:before{content:"ADVERTISEMENT";font-size:10px;line-height:16px;display:block;color:#949494}
.header_main{background-color:#0C71CC;}
.header_main .container{display:flex;justify-content:space-between;align-items:center;height:91px;}
.header_main__logo img{width:116px;display: block;margin-right: 20px;}
.header_main__nav{display:flex;align-items:center;}
.header_main__nav ul{display:flex;align-items:center;}
.header_main__nav ul li{list-style:none;margin-right:10px;padding-right: 10px;border-right: 1px solid #fff;}
.header_main__nav ul li:last-child{border-right: none;margin-right: 0;padding-right: 0;}
.header_main__nav ul li a{color:#fff;font-size:16px;font-weight:300;}
.header_main__rhs{display:flex;align-items:center;}
.header_main__langselect{position: relative;display:flex;align-items: center;width: 100px;height: 29px;background-color: #fff;overflow: hidden;padding:0 0.5rem;}
.header_main__langselect::after{content:'';width: 0;height: 0;border-left: 5px solid transparent;    border-right: 5px solid transparent;border-top: 5px solid #1C1B1F;}
.header_main__langselect select{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;    appearance:none;outline:0;box-shadow:none;border:0;background: #fff;background-image: none;flex: 1;color:#151D26;cursor:pointer;font-size: 13px;line-height: 17px;}
.header_main__langselect select::-ms-expand {display: none;}
.header_main__notifications .bell_icon{width: 24px;height: 24px;display: block;margin-left: 15px;}
.header_main__search .search_icon {width: 24px;height: 24px;display: block;margin-left: 15px;}
.header_navbar__bottom{background-color:#151D26;margin-bottom: 20px;}
.header_navbar__bottom .container{display:flex;justify-content:space-between;align-items:center;height: 49px;}
.header_navbar__bottom .social_links ul{display:flex;justify-content: space-between;align-items:center;width:197px;}
.header_navbar__bottom .social_links li{list-style:none;width:26px;height:26px}
.header_navbar__bottom .social_links svg{display: block;width: 26px;height: 26px}
.header_navbar__bottom .trending_navbar{display:flex;align-items:center;justify-content: center;width: calc(100% - 210px);}
.header_navbar__bottom .trending_navbar a{position: relative;color:#fff;font-size:16px;font-weight:300;margin-right: 15px;display: flex;align-items: center;}
.header_navbar__bottom .trending_navbar a:last-child{margin-right: 0;}
.header_navbar__bottom .trending_navbar a::before{content:'';background-image: url(../images/trend-arrow.png);display: block;width: 11px;height: 11px;margin-right:5px;}
.footer{background: #000000;}
.footer .container{display:grid;grid-template-columns:repeat(2, 1fr);height:124px;align-items: center;}
.footer .copyright{font-size:16px;line-height:22px;font-weight:300;color:#fff;}
.footer .footer-links{text-align: right;}
.footer .footer-links a{font-size:16px;line-height:22px;font-weight:300;color:#fff;margin-right:10px;padding-right:10px;border-right:1px solid #fff;}
.footer .footer-links a:last-child{margin-right:0;padding-right:0;border-right:none;}
@media(max-width:768px){
    .showDesktopOnly{display:none;}
    .showMobileOnly{display:block;}
}